<div class="header-wrapper section">
    <header>
        <a class="header-link" href="/">Главная</a>
        <a class="header-link" href="/tasks/all" title="Появится когда я вздумаю сделать еще что-нибудь">Все задачи</a>
    </header>
</div>

