@{
    ViewData["Title"] = "Главная";
}

<div>
    <h1>Задание по инфе "Разработка сайтов с использованием HTML"</h1>
    <form class="form-inline" action="/task/result" method="POST">
        <input type="text" name="surname" placeholder="Твоя фамилия">
        <button type="submit">*Тык*</button>
    </form>
</div>